{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de - Mi Website</title>
    <link rel="stylesheet" href="{% static 'css/navbar-styles.css' %}"> <!-- Asegúrate de cargar el archivo CSS -->
</head>
<body>

    <!-- Navbar (heredado de la plantilla base) -->
    <div class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
    </div>

    <!-- Contenido principal -->
    <div class="content">
        {% block content %}
        
        {% endblock %}
    </div>

</body>
</html>